.wrapper  {
    font-size: 150%;
    
}

.grid {
    padding: 2px;
    margin: 0px;
    position:  relative;
    text-align: left;
}
#foto1 {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.gray-background {
    background-color: grey;
}